@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200;1,300&family=Ubuntu:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   /* background-color: gray;*/
    
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/***********************Navigation Styling******************/
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    /*background: crimson;*/
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3 ease;
    
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: #fff;

}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3 ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/*************************** Menu btn styling------------------*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.menu-btn i.active:before{
    content: "\f00d";
}


/*---------------Footer section styling-------------------*/
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}









/* ***********************Responsive media query starts-------------------------*/
@media (max-width: 1300px){

    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
  
}
@media (max-width: 991px){
    .max-width{
       
        padding: 0 50px;
    }
}
@media (max-width: 945px){
    
     
    .menu-btn{
        display: block;
        z-index: 999;
    } 

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
        
    }
    .home .home-content .text-3{
        font-size: 35px;
    }   
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .service .serv-content .card{
        width: calc(50%-10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }.service .max-width .serv-content a{
        display: inline-block;
        background: crimson;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 10px 30px;
        margin-top: 20px;
        border-radius:  6px;
        border: 2px solid crimson;
        transition: all 0.3s ease; 
       margin-left: 36%;
    }
}
@media (max-width: 690px){
    .max-width{
       
        padding: 0 23px;
    }
    
    .home .home-content .text-2{
        font-size: 60px;
        
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
        
    }
    .service .serv-content .card{
       width: 100%;
    }
    .service .max-width .serv-content a{
        display: inline-block;
        background: crimson;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 10px 30px;
        margin-top: 20px;
        border-radius:  6px;
        border: 2px solid crimson;
        transition: all 0.3s ease; 
       margin-left: 33%;
    }
}
@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
        
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
    .service .max-width .serv-content a{
        display: inline-block;
        background: crimson;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 10px 30px;
        margin-top: 20px;
        border-radius:  6px;
        border: 2px solid crimson;
        transition: all 0.3s ease; 
       margin-left: 26%;
    }
}

